.image-popup {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 9999;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2rem 0;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.7);
  display: none;
}

.image-popup figure {
  background-color: #fff;
  width: 90%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
}

.image-popup img {
  max-width: 100%;
  background-size: cover;
  display: block;
}
@media (min-width: 768px) {
  .image-popup figure {
    height: 100%;
  }
  .image-popup img {
    max-height: 100%;
    max-width: unset;
  }
}
.image-popup .close {
  position: absolute;
  top: 0;
  left: 0;
  padding: 1rem;
  background: transparent;
  border: none;
}
